*{
    border: 0;
    margin: 0;
}

.container {
    max-width: 900px;
    /* height: 10px; */
    margin: 0 auto;
}

.parent{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.parent img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}


.parent_inner-main {
    display: flex;
    gap: 1rem;
    /* justify-content: center;
    align-items: center; */
}

.parent_inner-item {
    max-width: 300px;
    padding: .5rem;
    background-color: rgba(210, 230, 240,0.5);
    border-radius: .25rem;
    text-align: justify;
    color: black;
    
}



.parent_inner-item p {
    text-align: justify;
    color: black;
}

.card_section{
    padding: 3rem 0;
}

.card_section-inner{
    display: flex;
    justify-content: space-between;
}

.card_section-inner .card{
    width: 32%;
    /* flex: 1 0 21rem; */

}

.card_section-inner img{
    width: 100%;
}

.card_section-inner figcaption{
    padding: .5rem;
    background-color: #eaeaea;
    
}

/* .card_body{
    flex: 1;
} */


.card_section-inner h2{
    padding-bottom: .5rem;
    
}




@media(max-width: 676px) {
    .parent_inner-main {
        flex-direction: column;
    }

}