.container{
    max-width: 900px;
    /* height: 10px; */
    margin: 0 auto;
    background-color: green;
}
.parent_inner{
    position: relative;
}


.parent_inner img{
    width: 100%;
    height: 100vh;
    object-fit: cover;

}
.parent_inner-main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.parent_inner-item{
    max-width: 300px;
    max-height: 300px;
    background-color: gray;
}

.parent_inner-item p{
    text-align: justify;
}

@media(max-width: 676px){
    .parent_inner-main{
        flex-direction: column;
    }
    
}